@use '@styles/mixins.scss' as mixins;

.page-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  overflow: auto;
  @include mixins.text(20px, 400, 32px);
}

@media (max-width: 820px) {
  .nav-menu {
    display: none;
  }
}
