@use '@styles/mixins.scss' as mixins;

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  padding: 16px;

  h1 {
    text-align: center;
  }
}
