$black: #08030e;
$white: #ffffff;
$red: #b23925;
$gun-powder: #39353e;
$manatee: #8f8d9c;
$purple-01: #630cd2;
$purple-05: #e4d1f5;
$moon-raker: #e8dbf8;
$remy: #fee7ed;
$selago: #f4edfc;
$wisp-pink: #fef5f9;
$brink-pink: #f95f86;
$capric: #c19eed;
$sagittarius: #fcbfcf;
