@use '@styles/mixins' as mixins;

.menu-item {
  width: 100%;
  display: flex;
  gap: 12px;

  &__content {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__value {
    @include mixins.text(16px, 700, 26px);
  }

  &__info {
    @include mixins.text(12px, 400, 20px);
    color: variables.$manatee;
  }

  &:hover .menu-item__value {
    color: variables.$purple-01;
    text-decoration: underline;
  }
}
