@use '@styles/mixins' as mixins;

.horoscope-nav-wrapper {
  width: 100%;
  padding: 8px 16px;
}

.horoscope-nav {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 24px;

  &__link {
    @include mixins.text(16px, 700, 20px);
    color: variables.$black;
    text-decoration: none;
  }
}
