.header {
  padding: 16px;

  &-content {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.btns-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
