@use '@styles/mixins' as mixins;

.sign-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;

  .subtitle {
    @include mixins.text(20px, 400, 32px);
  }
}

.signs-grid {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
  padding: 0 16px;
}

.sign-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  .type {
    @include mixins.text(20px, 700, 26px);
  }

  .date {
    @include mixins.text(16px, 400, 26px);
    color: variables.$manatee;
  }
}

@media (max-width: 1000px) {
  .sign-banner {
    padding: 16px;

    .subtitle {
      @include mixins.text(16px, 400, 32px);
    }
  }

  .sign-item {
    .type {
      font-size: 16px;
    }

    .date {
      font-size: 12px;
    }
  }
}
