.burger-button {
  position: relative;
  color: #333;
}

.menu {
  left: -16px;

  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.open {
  left: -0;
  transform: translateX(0);
}
